/*common style*/
.sct-title {
	font-size: $subtitle + 10;
	@media (max-width: 1600px){
		font-size: $subtitle;
	}
	@media (max-width: 1439px){
		font-size: $title + 6;
	}
	@media (max-width: 767px){
		font-size: $title;
	}
}
.sct-tag {
	font-size: $title;
}
#contact_us_page {
	ul {
		list-style-type: none;
	}
	textarea {
		border-radius: 0;
	}
}
.sct-scocial-icon-footer {
	list-style-type: none;
	li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		a {
			font-size: $title;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
/*common style end*/
/*contact us page 1*/
.sct-contact-us-1 {
	padding: 60px 0;
	@media (max-width: 1599px){
		padding: 40px 0;
	}
	@media (max-width: 767px){
		padding: 30px 0;
	}
	.top-row {
		.sct-title {
			color: $primary;
		}
		.sct-subtitle {
			border-bottom: 1px solid $primary;
			margin-bottom: 40px;
			padding-bottom: 15px;
		}
	}
	.bottom-row {
		.sct-row {
			margin-bottom: 20px;
			.sct-small-title {
				font-size: $title;
				font-weight: bold;
				margin-bottom: 10px;
			}
			a {
				display: inline-block;
				color: $primary;
			}
		}
	}
}
/*contact us page 1 end*/
/*contact us page 2*/
.sct-contact-us-2 {
	padding: 60px 0;
	@media (max-width: 1599px){
		padding: 40px 0;
	}
	@media (max-width: 767px){
		padding: 30px 0;
	}
	> .container {
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.top-row {
		text-align: center;
		margin-bottom: 30px;
		.sct-title {
			background-color: $light-grey-color;
			padding: 20px 0;
			margin-bottom: 0;
		}
	}
	.bottom-row {
		.sct-right {
			@media (max-width: 767px){
				margin-top: 20px;
			}
		}
		.form-btn {
			.form-group {
				margin-bottom: 0;
			}
		}
		.sct-scocial-icon-footer {
			margin-bottom: 20px;
			li {
				a {
					width: 35px;
					height: 35px;
					color: $dark-color;
					background-color: $light-grey-color;
					line-height: 35px;
					text-align: center;
					display: block;
				}
			}
		}
		.our_office {
			margin-bottom: 20px;
		}
		.sct-get-email {
			.sct-info {
				margin-bottom: 20px;
				.sct-mail {
					font-size: $font-body;
					margin-bottom: 5px;
				}
				a {
					display: inline-block;
					color: $primary;
					font-size: $font-body;
				}
			}
		}
	}
}
/*contact us page 2 end*/
/*contact us page 3*/
.sct-contact-us-3 {
	padding: 60px 0;
	@media (max-width: 1599px){
		padding: 40px 0;
	}
	@media (max-width: 767px){
		padding: 30px 0;
	}
	.top-row {
		text-align: center;
		margin-bottom: 20px;
	}
	.middle-row {
		text-align: center;
		@media (min-width: 768px){
			margin-bottom: 30px;
		}
		.sct-thumb {
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
			padding:15px;
			height: 100%;
			@media (max-width: 767px){
				height: auto;
				margin-bottom: 30px;
			}
		}
		.mail {
			a {
				word-wrap: break-word;
				word-break: break-all;
			}
		}
		a {
			color: $primary;
			font-weight: bold;
		}
	}
}
/*contact us page 3 end*/
/*contact us page 4*/
.sct-contact-us-4 {
	padding: 60px 0;
	@media (max-width: 1599px){
		padding: 40px 0;
	}
	@media (max-width: 767px){
		padding: 30px 0;
	}
	> .container {
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
		padding:30px;
	}
	.top-row {
		text-align: center;
		.sct-title {
			margin-bottom: 0;
		}
	}
	.middle-row {
		padding-top: 30px;
		@media (max-width: 767px){
			padding-top: 10px;
		}
		.col-form-label {
			@media (min-width: 768px){
				text-align: right;
			}
		}
	}
	.bottom-row {
		margin-top: 20px;
		.sct-thumb {
			-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
			text-align: center;
			padding: 15px 25px;
			height: 100%;
			font-size: $font-body;
			background-color: $primary;
			color: $light-color;
			@media (max-width: 767px){
				height: auto;
				margin-bottom: 20px;
			}
			a {
				color: $light-color;
			}
		}
		.mail {
			a {
				word-wrap: break-word;
				word-break: break-all;
			}
		}
	}
}
/*contact us page 4 end*/
/*contact us page 5*/
.sct-contact-us-5 {
	.top-row {
		.sct-left, .sct-right {
			padding-top: 5%;
			padding-bottom: 5%;
			@include flex;
			@include flexwrap;
			@include justify-align-content;
			.sct-box {
				flex: 0 0 70%;
				max-width: 70%;
				@media (max-width: 991px){
					flex: 0 0 80%;
					max-width: 80%;
				}
			}
		}
		.sct-left {
			background: $primary;
			color: $light-color;
			.sct-title {
				color: $light-color;
				margin-bottom: 20px;
				@media (max-width: 767px){
					margin-bottom: 10px;
				}
			}
			.sct-cnt-list {
				.fa {
					margin-right: 5px;
				}
				a {
					color: $light-color;
				}
			}
			.phone, .address {
				margin-top: 1rem;
			}
		}
		.sct-right {
			
		}
	}
	.bottom-row {
		.sct-cnt-map {
			padding: 0;
			.google_map_v1 {
				padding: 0;
			}
		}
	}
}
/*contact us page 5 end*/

/*Change Password Design*/


body .o_portal_security_body{
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin-top: 40px;
    section{
    	margin-top:0px !important;
    	h3{
		    color:$dark-color;
		    font-weight: 600;
		    font-size: 24px;
		    margin-bottom:15px;
    	}
    	.oe_reset_password_form{
    		margin-bottom: 20px;
   		 	input.form-control{
   		 		line-height: 24px;
   		 	}
    	}
    	.alert-secondary{
   		 		padding: 10px;
   		}
    }
}


// dashboard page css
.o_portal_wrap{
	&.oe_website_sale{
		.o_portal_my_doc_table{
			border-top: 1px solid #dee2e6;

			tr{
				td{
					> div{
						img.o_portal_contact_img{
							padding: 0;
							margin-right: 0 !important;
						}
					}
				}
			}
		}
		.o_portal_navbar{
			#o_portal_navbar_content{
				margin: 0 -0.5rem;

				@media (min-width: 992px){
					margin: auto;
				}
				
				.nav{
					> div.ms-lg-2{
						margin-top: 10px;

						@media (min-width: 992px){
							margin-top: 0;
						}
					}
				}
				.btn-secondary{
					line-height: normal !important;
    				padding: 10px 16px !important;
				}
			}
		}
		.alert-warning{
			.close{
				position: absolute;
				top: 0;
				right: 0;
				padding: 0.75rem 1.25rem;
				color: inherit;
				background-color: transparent;
				border: 0;
				font-size: calc(1.275rem + 0.3vw);
			}
		}
		.o_portal_sale_sidebar{
			#sidebar_content{
				ul.list-group{
					li{
						margin-bottom: 0;
						border-bottom-width: 1px;

						@media (min-width: 992px){
							margin-bottom: -1px;
						}
					}
				}
			}
		}
	}
}
body{
	#wrapwrap{
		&.o_portal{
			.o_portal_wrap{
				.o_portal_my_doc_table{
					td{
						a.btn-primary{
							color: #fff;
							box-shadow: 0px 2px 3px 0px rgba(27, 27, 27, 0.4);
	
							@media (min-width: 768px) {
								min-width: 147px;
							}

							&:hover{
								color: #202020;
							}
						}
					}
				}
			}
		}
		.js_product{
			#add_to_cart_wrap{
				flex-wrap: wrap;
				width: 100%;

				.sct-main-price-description{
					width: 100%;

					.sct-price-option, .sct-other-desciption{
						flex: 0 0 49%;
    					max-width: 49%;
					}
					.sct-price-option{
						.product_price{
							margin-right: 10px;
						}
						.sct-add-to-cart-mob{
							.o_we_buy_now{
								padding: 12px 25px !important;
								line-height: 21px;
								margin-top: 0;
							}
						}
					}
				}

				.o_we_buy_now{
					margin-top: 20px;
				}
			}
		}
		.oe_website_sale{
			.oe_cart{
				.sct-shop-cart{
					overflow: auto;
				}
				table.js_cart_lines{
					td, th{
						word-break: normal;
					}
				}				
				.sct-shop-cart-button{
					flex-wrap: wrap;
					justify-content: center;
					
					@media (min-width: 768px){
						justify-content: space-between;
					}

					.sct-cart-button{
						width: 80%;
						text-align: center;

						@media (min-width: 768px){
							width: auto;
						}

						.btn-primary{
							width: 100%;
						}
					}
				}
			}
			.all_shipping{
				.one_kanban{
					.a-submit{
						width: 100%;
					}
				}
			}
		}
		.o_payment_form{
			.card{
				.o_payment_option_card{
					.payment_option_name{
						vertical-align: middle;
					}
				}
				.card-footer{
					label{
						input[type="checkbox"]{
							vertical-align: revert;
						}
					}
				}
			}
		}
	}
}

//industry page changes
.ready-demo-sec{
	padding-top: 24px;
	.sct-thumb{
		margin-bottom: 35px;
	}
	.sct-top-row{
		.sct-title{
			padding-bottom: 12px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 24px;
			font-size: 30px;
		}
	}
	.sct-btm-row{
		.sct-box-image{
			border: 1px solid #ddd;
			overflow: hidden;
			border-radius: 10px;
			box-shadow: 0 0 9px 7px rgba(0, 0, 0, 0.06);
			padding: 5px;
			display: block;
			img{
				transition: all .4s ease-in;
				display: block;
    			margin: 0 auto;
			}
		}
		.sct-sub-title {
			padding: 15px 0 0 0;
			font-size: 20px;
			margin-bottom: 0;
			a{
				transition: all .4s ease-in;
			}
		}
		@media (min-width: 992px){
			.sct-thumb {
				&:hover{
					.sct-box-image{
						img{
							transform: scale(1.1);
						}
					}
					a{
						color: $primary;
					}
				}
			}
		}
	}
}
