header {
	a{
		text-decoration: none;
	}
	.container {
		position: relative;
	}
	.navbar-expand-lg{
		.container , .o_container_small{
			padding-left: 15px;
            padding-right: 15px;
		}
	}
	#top_menu_container{
		 @media(min-width:1024px){
			position: static;
		 }
	}
	&.sct_header_disp {
		#default_sign_in, #default_wish_list {
			display: none !important;
		}
	}
	.navbar-collapse {
		@media (max-width: 767px){
			max-height: 300px;
			overflow-y: auto;
		}
	}
	#top_menu{
		li{
			&.def_mega_menu{
				.o_default_snippet_text{
					font-size: 15px;
				}
				.dropdown-menu {
					left: 0;
					right: auto;
					@media(min-width:1024px){
						left: 50%;
						transform: translateX(-50%);
					}
					.nav{
						a{
							color: darken($light-grey-color, 34%) !important;
							transition: 0.3s ease;
							padding: 8px 15px !important;
							display: inline-block;
							line-height: 1.2;

							&:hover{
								color: $primary !important;
								transition: 0.3s ease;
							}
						}
					}
					.s_mega_menu_odoo_menu {
						.container{
							background: $light-color;
						}
					}
					.s_mega_menu_odoo_menu_footer{
						.s_social_media{
							a{
								margin-left: 10px !important;
                                margin-right: 10px !important;
								display: inline-block;
							}
						}
					}
				}
			}
			// 16-5-2023 css chages 
			&.menu_style_4 , &.menu_style_2  , &.menu_style_3 , &.menu_service_3, 
			&.menu_service_2 , &.menu_service_1 , &.menu_service_4 ,&.menu_style_1  {
				.o_mega_menu_container_size{
					max-width: 100%;
					margin: 0 auto;
					left: 0;
					right:0;
					@media (min-width: 576px){
						max-width: 510px;
					}
					@media (min-width: 768px){
						max-width: 690px;
					}
					@media (min-width: 992px){
						max-width: 930px;
					}
					@media (min-width: 1200px){
						max-width: 1110px;
					}
					@media (min-width: 1440px){
						max-width:1300px;
					}
					@media (min-width: 1600px){
						max-width:1400px;
					}
				}
				.dropdown-menu{
				  .row{
					.footer{
						img{
							width: 100%;
						}
					}
				  }
				}
			}
		}
		&.def_mega_menu{
			left: 50%;
			right: auto;
		}
	}
	.navbar-expand-md{
		.navbar-nav{
			.o_extra_menu_items{
				.dropdown-toggle{
					&.nav-link{
						.fa-plus{
							color: $light-color;
						}
					}
				}
			}
		}
	}
	ul.navbar-nav {
		list-style-type: none;
		&#top_menu{
			.menu_style_3 {
				.mega-dropdown-menu {
					padding-bottom: 15px !important;
					.img_banner_div {
						@media (max-width: 767px){
							text-align: center;
						}
					}
					.letter-spacing {
						@media (max-width: 767px){
							margin-top: 20px;
						}
						@media(min-width:768px){
							display: flex;
							flex-wrap: wrap;
						}
						.inline-block {
							text-align: center;
							padding: 0 0.6rem !important;
							@media(min-width:992px){
								display: flex;
							}
							@media (max-width: 575px){
								padding: 0;	
							}
							.pro_thumb_bg {
								background: fade-out($dark-color, 0.9);
								padding: 10px;
								@include flex;
								@include justify-align-content;
								@include flexwrap;
								width: 100%;
								.prod_img {
									display: block;
									width: 100%;
									a {
										width: 100px;
										margin: auto;
										padding: 5px;
									}
								}
								.categories {
									display: block;
									margin-top: 0;
									font-weight: bold;
									text-align: center !important;
									line-height: 1.2;
									a {
										font-weight: bold !important;
										color: $dark-color !important;
										.sct-pro-menu-name {
											display: block;
										}
									}
								}
								&:hover{
									.categories{
										a{
											color: $primary !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.li-mega-menu {
			.mega-dropdown-menu {
				left: 0;
				right: 0;
				margin-top: 0;
				padding: 15px 15px 0;
				border-radius: 0;
				&.o_mega_menu_container_size {
					@media (min-width: 768px){
						max-width: 100%;
						-webkit-transform: none;
						-ms-transform: none;
						transform: none;
					}
				}
				a {
					&:hover{
						background:transparent !important;
					}
				}
				.letter-spacing {
					font-size: 0;
					p {
						font-size: 15px;
					}
					.inline-block {
						vertical-align: top;
						margin-bottom: 15px;
						float: none;
						@media(min-width:768px){
							display: inline-block;
						}
						ul {
							list-style-type: none;
						}
						.dropdown-header {
							padding: 0;
							margin-bottom: 5px;
							a {
								color: $dark-color !important;
								font-weight: bold !important;
								display: inline-block !important;
								&:hover{
									color:$primary !important;
								}
							}
						}
					}
					.categories {
						a {
							color: darken($light-grey-color, 34%) !important;
							display: inline-block !important;
							&:hover{
								color:$primary !important;
							}
						}
						+ .categories {
							margin-top: 10px;
							@media (max-width:1023px){
								margin-top: 5px;
							}
						}
					}
				}
				.footer {
					border-top: 1px solid fade-out($dark-color, 0.7);
					padding: 15px;
					margin-top: 15px;
					width: 100%;
					p {
						margin-bottom: 0;
					}
				}
			}
		}
		.nav-item {
			&.show {
				.dropdown-menu {
					@media (min-width: 768px){
						display: none;
					}
				}
				.o_mega_menu.o_editable {
					@media (min-width: 768px){
						display: block;
					}
				}
				.o_mega_menu {
					padding: 0;
					.container {
						background-color: transparent;
					}
				}
			}
			&.dropdown {
				&.show {
					> .dropdown-menu {
						@media (min-width: 768px){
							display: block !important;
						}
					}
				}
				.dropdown-menu {
					border-radius: 0;
					margin-top: 0;
					width: 180px;
					@media (max-width: 767px){
						width:auto;
					}
					li {
						a {
							padding: 5px 15px;
							white-space: normal !important;
						}
					}
				}
				&.position-static {
					.dropdown-menu {
						width: 100% !important;
					}
					&.def_mega_menu {
						.dropdown-menu {
							padding: 0;
						}
					}
				}
			}
			> .nav-link {
				white-space: nowrap !important;
			}
		}
		
	}
	.menu_style_1 {
		.letter-spacing {
			@media (max-width: 767px){
				padding: 0;
				.categories, .dropdown-header {
					a {
						padding-left: 0;
						padding-top: 0;
					}
				}
			}
		}
		.mm-slider {
			margin-bottom: 10px;
			.slider_header {
				font-size: $font-body;
				color: $dark-color;
				font-weight: bold;
				padding: 0;
				margin-bottom: 10px;
			}
			.carousel {
				.carousel-item {
					a {
				    	text-align: center;
				    }
					h4 {
						background: fade-out($dark-color, 0.5);
						padding: 5px;
						text-align: center;
						line-height: 35px;
						color: $light-color;
						font-size: $title;
						font-weight: bold;
						margin-bottom: 0;
						@media (max-width:1023px){
							font-size: $title - 2;
						}
						small {
							font-weight: bold;
							font-size: 100%;
						}
					}
				}
			}
			.carousel-control {
			    position: absolute;
			    right: 15px;
			    top: 0;
			    width: 40px;
			    @include flex;
			    -webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			    justify-content: space-between;
			    .carousel-control-prev, .carousel-control-next {
			    	width: auto;
			    	display: inline-block;
			    	position: static;
			    	cursor: pointer;
			    	.fa {
				    	color: $dark-color;
				    	font-size: $title - 2;
				    }
			    }
			}
		}
		.scita_img_grid {
			border-right: 1px solid $light-grey-color;
			.scita-grid-img-div {
				.scita-grid-img {
					margin-bottom: 20px;
					a {
						width: 100%;
						height: 150px;
						background: $light-grey-color;
						position: relative;
						display: block;
						&:before {
							position: absolute;
							left: 10px;
							right: 10px;
							top: 10px;
							bottom: 10px;
							content: '';
							background: fade-out($black, 0.7);
							z-index: 1;
							opacity: 0;
							scale:0.8;
							@include transition(all, 0.3s, ease);
						}
						&:after {
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							content: '\f002';
							font-family: 'FontAwesome';
							color: $white;
							z-index: 2;
							font-size: 30px;
							opacity: 0;
							scale:0.3;
							@include transition(all, 0.3s, ease);
						}
						&:hover {
							&:before, &:after {
								opacity: 1;
								scale: 1;
							}
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
	.menu_style_2 {
		.mega-dropdown-menu {
			.inline-block {
				.dropdown-header {
					border-bottom: 1px solid fade-out($dark-color, 0.5);
					a {
						padding-left: 0 !important;
						@media (max-width: 767px){
							padding-top: 0 !important;
						}						
					}
				}
				.cat_img {
					margin: 15px 0;
					a {
						text-align: center;
						background-color: #f6f6f6;
						height: 172px;

						@media (max-width: 767px){
							padding:0;
						}
						img{
							width: 100%;
							height: 100%;
							object-fit: scale-down;
						}
						&:hover{
							background-color: #f6f6f6;
						}
					}
				}
				.cat_description {
					font-size: 15px;
					color: $dark-color;
					padding: 0 !important;
					line-height: normal;
					color: darken($light-grey-color, 34%);

					@media (max-width: 1199px){
						font-size: 13px;
					}
				}
			}
			.letter-spacing {
				@media (max-width: 767px){
					padding: 0;
				}
				.categories {
					a {
						padding-left: 0;

						@media (max-width: 767px){
							padding-top: 0;
						}
					}
				}
			}
		}
	}
	.menu_service_3 {
		.img_banner_div {
			text-align: right;
		}
		.mega-dropdown-menu {
			padding-bottom: 15px !important;
			.banner_simple_desc {
				border-right: 1px solid fade-out($dark-color, 0.8);
				@media (max-width: 767px){
					border: none;
				}
				.sct_head {
					font-size: $title;
					color: $primary;
					font-weight: bold;
					margin-bottom: 15px;
				}
				p {
					margin-bottom: 0;
					+ p {
						margin-top: 15px;
					}
				}
			}
			.letter-spacing {
				@media (max-width: 767px){
					margin-bottom: 10px;
				}
				ul {
					list-style-type: none;
					li {
						a {
							display: inline-block !important;
							font-weight: bold;
							color: $primary !important;
							@media (max-width: 767px){
								padding-bottom: 0;
								padding-left: 0;
							}
						}
						+ li {
							margin-top: 10px;
							@media (max-width: 767px){
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
	.menu_service_1 {
		.mega-dropdown-menu {
			padding-bottom: 15px !important;
			.letter-spacing {
				.page_menu {
					a {
						display: inline-block !important;
						font-weight: bold !important;
						margin-bottom: 20px;
						font-size: $title !important;
						position: relative;
						color: $dark-color !important;
						&:before{
							content:'';
							position: absolute;
							left: 0;
							bottom: -5px;
							width: 50px;
							height: 2px;
							background: $primary;
						}
						@media (max-width: 1440px){
							font-size: $font-body !important;
						}
						@media (max-width: 767px){
							padding-left:0;
							padding-top:0;
						}
						&:hover{
							color:$primary !important;
						}
					}
				}
				ul {
					list-style-type: none;
					li {
						a {
							display: inline-block !important;
							font-weight: bold;
							color: $dark-color !important;
							@media (max-width: 767px){
								padding-left: 0;
								padding-top: 0;
							}
						}
						+ li {
							margin-top: 10px;
							@media (max-width: 767px){
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
	
	ul.navbar-nav .li-mega-menu {
		.mega-dropdown-menu {
			a {
				color: $dark-color !important;
				padding: 0;
				@media (max-width: 767px){
					padding: 0;
					border-top: none;
				}
				&:hover{
					color:$primary !important;
				}
			}
		}
		.s_mega_menu_multi_menus, .s_mega_menu_menu_image_menu {
			.mega-dropdown-menu {
				padding: 0;
				background-color: transparent;
				.nav-link {
					color: $dark-color !important;
					padding: 0.5rem !important;
					margin: 0 !important;
					@media (max-width: 767px){
						text-align: center;
						border-top: none;
					}
					&:hover{
						color:$primary !important;
					}
				}
			}
		}
		&.menu_service_2 {
			.letter-spacing {
				.link-thumb {
					margin-bottom: 15px;
					.page_img_menu {
						display: inline-block;
						max-width: 80px;
						vertical-align: middle;
						@media (max-width: 1399px){
							max-width: 70px;
						}
						@media (max-width: 1199px){
							max-width: 50px;
						}
						@media (max-width: 1023px){
							margin-bottom:10px;
						}
					}
					.page_info {
						display: inline-block;
						width: 80%;
						vertical-align: middle;
						padding-left: 20px;
						a {
							color: $primary !important;
							margin-bottom: 5px;
							font-weight: bold !important;
							font-size: $font-body;
							@media (max-width: 767px){
								padding-left: 0;
								padding-top: 0;
							}
						}
						p {
							color: $dark-color;
							margin-bottom: 0;
							+ p {
								margin-top: 10px;
							}
						}
					}
				}
			}
			&#mm_1_col {
				position: relative;
				.mega-dropdown-menu {
					right: auto;
					width: 480px;
					@media (max-width: 1199px){
						width: 320px;
					}
					@media (max-width: 767px){
						width:auto;
					}
				}
			}
			&#mm_3_col {
				.mega-dropdown-menu {
					.letter-spacing {
						.link-thumb {
							.page_info {
								@media (max-width: 1439px){
									width: 78%;
								}
								@media (max-width: 1023px){
									width: 75%;
									padding-left:10px;
								}
								@media (min-width: 576px) and (max-width: 767px){
									padding-left:0;
								}
								@media (max-width: 575px){
									padding-left: 20px;
								}
							}
						}
					}
				}
			}
			&#mm_4_col {
				.mega-dropdown-menu {
					.letter-spacing {
						.link-thumb {
							.page_info {
								width: 72%;
								@media (max-width: 1199px){
									width: 75%;
								}
								@media (max-width: 1023px){
									width: 80%;
									padding-left: 0;
									@media (max-width: 575px){
										padding-left: 20px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*Mega menu hover img effect*/
header .menu_style_3 .mega-dropdown-menu {
	.letter-spacing .inline-block {
		.pro_thumb_bg .prod_img img {
			@include transition(all, 0.5s, ease);
		}
		&:hover {
			.pro_thumb_bg .prod_img img {
				-webkit-transform: scale(1.2);
				-ms-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
	}
	.img_banner_div {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0 0 15px;
		&:before{
			position:absolute;
			content: '';
			background-color: fade-out($light-grey-color, 0.9);
			width: 150px;
			height: 100%;
			z-index: 1;
			left: -100%;
			top: 0;
			-webkit-transform: skew(45deg);
			-ms-transform: skew(45deg);
			transform: skew(45deg);
			@include transition(all, 0.5s, ease);
		}
		&:hover{
			&:before{
				-webkit-animation: flash_mline 1s;
				animation: flash_mline 1s;
			}
		}
		@keyframes flash_mline {
			100% {
				left: 200%;
			}
		}
		@-webkit-keyframes flash_mline {
			100% {
				left: 200%;
			}
		}
	}
}
header .menu_style_2 .mega-dropdown-menu .inline-block .cat_img {
	overflow: hidden;
	img {
		@include transition(all, 0.75s, ease);
	}
	&:hover{
		img {
			-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
		}
	}
}
/*Mega menu hover img effect end*/

// v 18.0 mega menu mobile css start here
header{ 
	@media (max-width: 991px) {		
		ul.navbar-nav{ 
			.nav-item{
				&.dropdown{ 
					.dropdown-menu{
						&.mega-dropdown-menu{   
							position: initial !important;
							transform: initial !important;                        
						}
					}
				}
			}
		}
		.navbar{
			.navbar-nav{
				.li-mega-menu{
					&.menu_style_2{
						.mega-dropdown-menu{
							.letter-spacing{
								@include flex;
								@include flexwrap;
								.inline-block{                               
									flex: 0 0 50%;
									width: 50%;
									max-width: 50% !important;                                
									.cat_img{
										a{                                     
											display: block;                                       
										}
									}
								}
							}
						}
					}
					&.menu_style_1{
						.dropdown-menu {
							.scita_cat_slider, .letter-spacing {
								width:100%;
							}
							.letter-spacing{
								padding: 0;
							}
						}
					}
					&.menu_style_3{
						.dropdown-menu{
						
							.letter-spacing{
								@include flex;
								@include flexwrap;
								text-align: center;
								.inline-block{
									width: 50%;
								}
							}
							.img_banner_div{
								text-align: center;
							}
						}
					}
				}
				.letter-spacing{ 
					.categories{
						a{
							font-size: $font-body - 3;
						
						}
					}
				}
			}
		}        
	}
}