/*BG micin*/
@mixin bg-img($img-name){
    background-image: url('${img-path}${img-name}');
}
@mixin bg-size($cover){
  background-size: $cover;
  -moz-background-size: $cover;
  -webkit-background-size: $cover;
  -o-background-size: $cover;
}
@mixin bg-nore-cover {
  background-size: cover; 
  background-repeat: no-repeat; 
}

/* Transition */
@mixin transition($all, $s, $ease){
        transition: $all $s $ease;
-webkit-transition: $all $s $ease;
   -moz-transition: $all $s $ease;
     -o-transition: $all $s $ease;
}


/*mixins*/
@mixin skew-me($skew) {
  -ms-transform: skew($skew); /* IE 9 */
  -webkit-transform: skew($skew); /* Safari */
  transform: skew($skew);
}

/*for flex*/
@mixin flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin flexwrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@mixin inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
@mixin justify-align-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@mixin flex-wrap-common{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
         
          
@mixin all-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column; 
}
@mixin justify-center-flex{
   -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;   
}
@mixin align-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@mixin justify-content-column-flex{
    -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column; 
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@mixin align-content-column-flex{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column; 
}
@mixin content-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@mixin content-cn {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@mixin align-fs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@mixin flex-column {
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
@mixin order-2{
   -webkit-box-ordinal-group:3;
   -ms-flex-order:2;
   order:2;
}
@mixin order-1{
  -webkit-box-ordinal-group:2;
  -ms-flex-order:1;
  order:1;
}
@mixin jc-flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

// new mixin added scita_17
@mixin max767 {
    @media (min-width: 0px) and (max-width: 767px) { @content; }
}
@mixin mobiletab {
    @media (min-width: 0px) and (max-width: 991px) { @content; }
}
@mixin min576 {
    @media (min-width: 576px) { @content; }
}
@mixin min768 {
    @media (min-width: 768px) { @content; }
}
@mixin min992 {
    @media (min-width: 992px) { @content; }
}
@mixin min1024 {
    @media (min-width: 1024px) { @content; }
}
@mixin min1200 {
    @media (min-width: 1200px) { @content; }
}
@mixin min1340 {
    @media (min-width: 1340px) { @content; }
}
@mixin min1440 {
    @media (min-width: 1440px) { @content; }
}
@mixin min1600 {
    @media (min-width: 1600px) { @content; }
}
@mixin min1700 {
    @media (min-width: 1700px) { @content; }
}
@mixin min1920 {
    @media (min-width: 1920px) { @content; }
}
@mixin min2100 {
    @media (min-width: 2100px) { @content; }
}