.cst_default_footer_1 {
        ul{
 		   margin-bottom: 1rem;
 		}
}
.cst_default_footer_1,
.cst_default_footer_2,
.cst_default_footer_3,
.cst_default_footer_4,
.cst_default_footer_6{
	p{
		 font-size:1rem;
	}
}
.cst_default_footer_5{
	.s_text_block{
		.btn-primary{
			@media (min-width:992px) and (max-width: 1199px){
				padding: 0 16px;
				font-size: 16px;
			}
		}
	}
}
.cst_default_footer_7{
	.s_text_block{
		p{
			font-size:1rem;
		}
	}
} 


